<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xs.parkmerchant">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon512"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ActivityDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.MineActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activity.PublishActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activity.TicketDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activity.QRActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Activity.ModifyPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>